<form>
  <h1>Submit Your Own Story</h1>
  <p>Each and every one of us has our own story of growing up and maturing. </p>
  <table>
    <tr>
      <td colspan=2>
        <label for="name">Name: </label>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <input type="text" name="name">
      </td>
    </tr>
    <tr>
      <td colspan=2 class="field">
        <label for="storyTitle">Title: </label>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="field">
        <input type="text" name="storyTitle">
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <label for="storyBody">Enter your story here: </label>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="largeField">
        <textarea rows="15"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan=1>
        <input type="submit" value="Submit">
      </td>
      <td colspan=1>
        <input type="reset" value="Clear">
      </td>
    </tr>
  </table>
</form>
