<h1>About Me</h1>
<div class = "bio">
  <div class = "contactMe">
    <img class = "headshot" src = "../assets/headshot.png">
    <p class = "info">Contact:</p>
    <p class = "info">kevsalcedo@gmail.com</p>
    <p class = "info">(713) 449-9581</p>
  </div>
  <p class = "blurb" >My name is Kevin Salcedo and I’m a graduating senior majoring in Computer Science at the University of Texas at Austin. Mental health and well-being have been an important aspect of my life for many years, so much so that in the near future I’ll be applying to graduate school in hopes of becoming a mental health counselor or therapist. As a full disclaimer, I created this site for my summer Web Programming class, but I hope that it helps to serve a larger purpose than just a classroom setting.</p>
  <p class = "blurb">My goal in creating this website is not to recreate just another WebMD-like site, offering hard-and-fast self-diagnoses of the multitude of mental disorders out there; I want this site to be a space where people who are suffering mentally can find that they are not alone in what they are going through. Each individual experiences mental struggles differently, and everyone deserves to be able to tell their own story of what they’ve gone through, or are still going through. </p>
  <p class = "blurb">Through the Mental Breakroom, it is my hope that we can break the stigma of speaking out about mental health. People who suffer from mental disorders are not just a label - they are individuals who are fighting in their own unique way. There is a prevailing thought that, with enough medicine or therapy or other strategy, mental illness will just go away or be “fixed.” And for some, this may be true. But for many, this is not the case. There is no quick fix, there is no just getting over it. It is an every day fight.</p>
  <p class = "blurb">To those suffering from mental illness: you are not alone. What you are feeling is real. And I cannot give you a solution to what you are going through, but what I can do is give you a space to talk with others who are going through similar things, and let you decide for yourself what is best for you.
  </p>
</div>
