.headshot {
  height: 200px;
  width: auto;
  float: left;
}

.blurb {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: auto;
  margin-left: 225px;
  margin-right: 50px;
}

.contactMe {
  text-align: center;
  float: left;
  height: 325px;
  margin: 25px;
}

.info {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
