.header, .sorting {
  text-align: center;
  background-color: #119DA4;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: auto;
}
.header h1, .sorting h2 {
  color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
}


.sortOptions, .newStory {
  width: 200px;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  border-radius: 5px;
}

.newStory {
  background-color: #95C9D3;
}

.newStory:hover {
  background-color: #7A93AC;
}

.sortOptions {
  border: 1px solid white;
  width: 75%;
}

.listings {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: auto;
}

.storyListing {
  width: 400px;
  height: auto;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid black;
}

.storyListing:hover {
  box-shadow: 1px 2px 2px #7A93AC;
}

h3, .listTitle {
  font-weight: bold;
  font-style: italic;
}

h4 {
  color: #119DA4;
}

.caption {
  color: white;
  font-style: normal;
  font-weight: normal;
}
