<div class="header">
  <h1>Disorders</h1>
</div>
<div class="sorting">
  <div class="sortOptions">
    <h2>Sorting options will go here.</h2>    
  </div>
</div>
<div class="listings">
  <table>
    <!--
   <tr>
      <td *ngFor="let disorder of disorder_list">
        <a routerLink="/disorders/{{disorder.id}}">
          <div class="disorderListing">
            <span class="badge">
              <h3>{{disorder.name}}</h3>
            </span>
          </div>
        </a>        
      </td>
    </tr>
    -->
    <tr *ngFor="let row of disorder_grid">
      <td *ngFor="let disorder of row">
        <a routerLink="/disorders/{{disorder.id}}">
          <div class="disorderListing">
            <span class="badge">
              <h3>{{disorder.name}}</h3>
            </span>
          </div>
        </a>
      </td>
    </tr>
  </table>
</div>
