<div class="container">
    <h1>Create a Post</h1>
    <p class="disclaimer">* denotes required Field</p>
    <form (ngSubmit)="onSubmit()" #postForm="ngForm">
      <div class="form-group">
        <label for="author"><p>Name</p></label>
        <input type="text" class="form-control" id="author" name="author" [(ngModel)]="model.author">
      </div>
 
      <div class="form-group">
        <label for="topic"><p>Topic<span class="disclaimer">*</span></p></label>
        <input type="text" class="form-control" id="topic" name="topic" name="topic" [(ngModel)]="model.topic" required #topic="ngModel">
        <div [hidden]="topic.valid || topic.pristine" class="alert alert-danger">
          Topic is required
        </div>
      </div>

      <div class="form-group">
        <label for="content"><p>Enter post body here<span class="disclaimer">*</span></p></label>
        <textarea class="form-control" id="content" name="content" name="content" [(ngModel)]="model.content" required #content="ngModel"></textarea>
        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
          Body is required
        </div>
        <p>{{5000 - content.value.length}}/5000 characters remaining.</p>
      </div>

      <div class="form-group">
        <label for="disorders"><p>Area<span class="disclaimer">*</span></p></label>
        <select class="form-control" id="disorders" name="disorders" required #disorder="ngModel" [(ngModel)]="model.disorder">
          <option *ngFor="let disorder of disorders" [value]="disorder.id" id="disorder" name="disorder">{{disorder.name}}</option>
        </select>
        <div [hidden]="disorder.valid || disorder.pristine" class="alert alert-danger">
          Disorder is required
        </div>
      </div>
      
      <br>

      <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid || content.value.length > 5000 || topic.value.length > 50">Submit</button>
 
    </form>
</div>

