<div class="header" *ngIf="disorder">
  <h1>
    {{disorder.name}}
  </h1>
  <hr/>
  <h3 class="caption">
    Here you'll find personal experiences and any questions regarding {{disorder.name}}, as well as various other resources that you may find helpful.
  </h3>
</div>
<div class="sorting">
  <div class="sortOptions">
    <h2>Sorting options will go here.</h2>
  </div>
  <a class="navButton" routerLink="/newPost">
    <div class="newPost">
      <h2>Create a Post</h2>
    </div>
  </a>
</div>

<div class="listings">
  <h2 class="listTitle">{{disorder.name}} Related Posts</h2>
  <div class="postListing" *ngFor="let post of posts">
      <span class="badge">
        <h3>{{post.title}}</h3>
        <h4>{{post.author}}</h4>
        <h4>{{post.content}}</h4>
      </span>
  </div>
</div>
<div class="sidebar">
  <h3>Local Resources</h3> 
  <div class="localResources" *ngFor="let resource of resources">
    <a routerLink="/localresources/{{resource.id}}">
      <span class="badge">
        <h4>{{resource.name}}</h4> 
      </span>
    </a> 
  </div>
  <h3>Coping Strategies</h3>
</div>
