/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
h1 { 
  color: #33656F;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 250%;
  font-style: italic;
}

h2, h3, h4, p, li {
  color: #33656F;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

